@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@600&family=Young+Serif&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,button,input{
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Young Serif', serif;
}

body{
  max-width: 100vw;
  min-width: 100vh;
  overflow: hidden;
  background-color: #09427a;
}